In [8]:
import sqlite3
import dataset
import pandas as pd

In [70]:
# Set local path
wd = 'c:/Users/amita/Google Drive/Coding Invaders/Career Service/Job Applications/Wise-Energy/Tech Test - SQLite & Python'

# Connect to DB
db = dataset.connect(f'sqlite:///{wd}/DE_test_ex.db')

# Read data from CSV file
df = pd.read_csv(f'{wd}/meter_granularity_vw.csv')

# Create table
table = db['meter_granularity']

# Transform df to dict
records_dict = df.reset_index().to_dict(orient='records')

# Insert record into DB
table.delete()
table.insert_many(records_dict)
#
# # Read from DB
df_generation = pd.read_sql('select * from meter_granularity', db.engine)

df_generation

,id,index,epoch,fk_id_granularity,fk_id_device,yield_meter_green,sensor_name,park_name,solarplant_id,source
0,1,0,2021-05-31 23:00:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark
1,2,1,2021-05-31 23:30:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark
2,3,2,2021-06-01 00:00:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark
3,4,3,2021-06-01 00:30:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark
4,5,4,2021-06-01 01:00:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark
...,...,...,...,...,...,...,...,...,...,...
1435,1436,1435,2021-06-30 20:30:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark
1436,1437,1436,2021-06-30 21:00:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark
1437,1438,1437,2021-06-30 21:30:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark
1438,1439,1438,2021-06-30 22:00:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark
1439,1440,1439,2021-06-30 22:30:00,30min,2200042738714,0.0,Stark-2200042738714,Axe View,18,stark

In [51]:
sel1_sql = '''select substr(epoch,1,10) as ccyy_dt, 
    sum(yield_meter_green) as Generation
    from meter_granularity group by ccyy_dt
    having sum(yield_meter_green) > 0'''

sel1_df= pd.read_sql(sel1_sql, db.engine)

sel1_df

       ccyy_dt   Generation
0   2021-06-01     34616.34
1   2021-06-02     17188.92
2   2021-06-03     25379.94
3   2021-06-04     32888.52
4   2021-06-05   1495752.42
5   2021-06-06     21029.58
6   2021-06-07     26179.92
7   2021-06-08     30805.68
8   2021-06-09     28530.12
9   2021-06-10     18886.92
10  2021-06-12     29104.02
11  2021-06-13     34298.88
12  2021-06-14     28480.74
13  2021-06-15     33733.98
14  2021-06-16     29584.56
15  2021-06-17     22193.04
16  2021-06-18     13178.28
17  2021-06-19      6421.14
18  2021-06-20  10099992.72
19  2021-06-21      6830.40
20  2021-06-22     21522.84
21  2021-06-23     29323.74
22  2021-06-24     21118.80
23  2021-06-25     28015.56
24  2021-06-26     22474.20
25  2021-06-27      8042.16
26  2021-06-28     16995.48
27  2021-06-29     12415.62
28  2021-06-30     28366.08

In [71]:
# Read data from CSV file
df_api = pd.read_csv(f'{wd}/api5_dv_vw.csv')

# Create table
table_api = db['api5_dv_vw']

# Transform df to dict
records_dict_api = df_api.reset_index().to_dict(orient='records')

# Insert record into DB
table_api.delete()
table_api.insert_many(records_dict_api)
#
# # Read from DB
df_irradiation = pd.read_sql('select * from api5_dv_vw', db.engine)

df_irradiation

,id,index,park_name,epoch,irradiation_calc,sensor_name,solarplant_id,fk_id_granularity,fk_id_device
0,1,0,Axe View,2021-05-31 23:00:00,-0.387835,Pyranometer 1 (Tilted),18,15min,GPMa8d6bb6b-e387-454e-9a3d-6cb090d0b54f
1,2,1,Axe View,2021-05-31 23:15:00,-0.500000,Pyranometer 1 (Tilted),18,15min,GPMa8d6bb6b-e387-454e-9a3d-6cb090d0b54f
2,3,2,Axe View,2021-05-31 23:30:00,-0.500000,Pyranometer 1 (Tilted),18,15min,GPMa8d6bb6b-e387-454e-9a3d-6cb090d0b54f
3,4,3,Axe View,2021-05-31 23:45:00,-0.500000,Pyranometer 1 (Tilted),18,15min,GPMa8d6bb6b-e387-454e-9a3d-6cb090d0b54f
4,5,4,Axe View,2021-06-01 00:00:00,-0.500000,Pyranometer 1 (Tilted),18,15min,GPMa8d6bb6b-e387-454e-9a3d-6cb090d0b54f
...,...,...,...,...,...,...,...,...,...
5584,5585,5584,Axe View,2021-06-30 22:15:00,-0.500000,Pyranometer 2 (Tilted),18,15min,GPM7a2b1f66-d242-4602-8c8a-327c30885561
5585,5586,5585,Axe View,2021-06-30 22:30:00,-0.500000,Pyranometer 1 (Tilted),18,15min,GPMa8d6bb6b-e387-454e-9a3d-6cb090d0b54f
5586,5587,5586,Axe View,2021-06-30 22:30:00,-0.500000,Pyranometer 2 (Tilted),18,15min,GPM7a2b1f66-d242-4602-8c8a-327c30885561
5587,5588,5587,Axe View,2021-06-30 22:45:00,-0.502778,Pyranometer 1 (Tilted),18,15min,GPMa8d6bb6b-e387-454e-9a3d-6cb090d0b54f
5588,5589,5588,Axe View,2021-06-30 22:45:00,-0.500000,Pyranometer 2 (Tilted),18,15min,GPM7a2b1f66-d242-4602-8c8a-327c30885561

In [20]:
# Read data from CSV file
df_pyr = pd.read_csv(f'{wd}/pyras.csv')

# Create table
table_pyr = db['pyras']

# Transform df to dict
records_dict_pyr = df_pyr.reset_index().to_dict(orient='records')

# Insert record into DB
table_pyr.delete()
table_pyr.insert_many(records_dict_pyr)
#
# # Read from DB
sel_df_pyr = pd.read_sql('select * from pyras', db.engine)

sel_df_pyr

,id,index,fk_id_device,device_name,site_id,site_name,data_label,tilt,solarplant_id
0,1,0,Hnec15,METEO - 1,Hnec9,ALLISTE,SCADA - METEO - 1,30.0,264
1,2,1,GPM441d2957-f356-456d-a055-37bef1a54fdf,Weather Station 2,GPM117,Acate,SCADA - Weather Station 2,25.0,3
2,3,2,GPM,Weather Station 3,GPM117,Acate,SCADA - Weather Station 2,25.0,3
3,4,3,GPMcfdb54d8-c66f-4665-85ff-5f2566022aa6,Pyranometer,GPM142,Acquarica,SCADA - Pyranometer,15.0,5
4,5,4,Hnec279,METEO - 1,Hnec75,Alanno_Buffone,SCADA - METEO - 1,30.0,291
...,...,...,...,...,...,...,...,...,...
95,96,95,GPM237ba0f8-1b06-4d5f-bf19-3f5f05f84598,Solarimetro,GPM102,Cavallano,SCADA - Solarimetro,20.0,60
96,97,96,GPM032b6407-52ce-4429-ba0b-58ab645ac892,Weather Station 2,GPM102,Cavallano,SCADA - Weather Station 2,20.0,60
97,98,97,GPM75738041-c9ee-47ab-84ca-43d8c3d9dd55,Weather Station,GPM81,Cepagatti - Localita Molino,SCADA - Weather Station,30.0,63
98,99,98,GPMde9a18c6-9773-4982-adb9-ec31577fbd31,Weather Station 1,GPM54,Cerami,SCADA - Weather Station 1,20.0,64
99,100,99,GPM21e0e40f-7c7a-4f5e-86d0-0abbbf23c12a,Weather Station 2,GPM54,Cerami,SCADA - Weather Station 2,20.0,64

In [47]:
sel2_sql = '''select date(substr(epoch,1,10)) as ccyy_dt, substr(epoch,12,2),
    sum(irradiation_calc) 
    from api5_dv_vw api
    inner join 
    pyras pyr
    on api.fk_id_device = pyr.fk_id_device 
    where pyr.tilt != 0
    group by ccyy_dt, substr(epoch,12,2)
    having time(substr(epoch,12,8)) < '23:00:00'
    and time(substr(epoch,12,8)) > '03:00:00'
    '''

sel2_df= pd.read_sql(sel2_sql, db.engine)

sel2_df = sel2_df.groupby(by="ccyy_dt").agg(Irradiation=("sum(irradiation_calc)","sum")).reset_index(False)
sel2_df

       ccyy_dt   Irradiation
0   2021-06-01   8655.269091
1   2021-06-02   4166.553515
2   2021-06-03  12425.635686
3   2021-06-04  16597.864799
4   2021-06-05  16078.331583
5   2021-06-06   9873.920914
6   2021-06-07  12643.929315
7   2021-06-08  15668.058192
8   2021-06-09  14138.493568
9   2021-06-10   8964.170970
10  2021-06-11   8064.024075
11  2021-06-12  15317.788699
12  2021-06-13  17209.163351
13  2021-06-14  14201.286705
14  2021-06-15  16820.418128
15  2021-06-16  14984.046138
16  2021-06-17  10251.358249
17  2021-06-18   5730.130794
18  2021-06-19   2763.123167
19  2021-06-20   5057.375069
20  2021-06-21   2881.346426
21  2021-06-22  10449.889671
22  2021-06-23  14929.041456
23  2021-06-24  10234.935466
24  2021-06-25  14577.597374
25  2021-06-26  10815.814702
26  2021-06-27   3607.369728
27  2021-06-28   8454.169226
28  2021-06-29   5498.710597
29  2021-06-30  14756.847361

In [78]:
# THe pr is getting more than 100% and is missing for the last date. THere is a mismatch between the counnt of 
# records of the above 2 SQL queries

def find_pr(df):
    dc_capacity = 4.956
    return 100 * (df["Generation"] / (df["Irradiation"] * dc_capacity))

sel_all = pd.merge(sel1_df,sel2_df,on="ccyy_dt",how="inner")

pr_df = sel_all.apply(find_pr, axis=1) 
pr_df

0        80.699209
1        83.241583
2        41.213612
3        39.981659
4      1877.100112
5        42.974384
6        41.778703
7        39.672021
8        40.716380
9        42.512800
10       38.337661
11       40.215075
12       40.466186
13       40.466859
14       39.838659
15       43.682158
16       46.404799
17       46.890039
18    40296.246983
19       47.832091
20       41.558185
21       39.632926
22       41.634450
23       38.777701
24       41.926992
25       44.983242
26       40.563106
27       45.559217
28       38.785951
dtype: float64

In [77]:
df_gen = df_generation.groupby(by="epoch").agg(Generation=("yield_meter_green","sum"))
df_irr = df_irradiation.groupby(by="epoch").agg(Irradiation=("irradiation_calc", "sum"))

AttributeError: 'Index' object has no attribute 'hour'